body {
  /* background-color: #282c34; */

  /* max-height: 1800px; */
}

#state {
  color: white;
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: calc(95vw) !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

.all2 {
  display: flex;

  text-align: center;
  margin: 0 auto;
  width: calc(95vw) !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

hr {
  width: 90%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 10px;
}

.atendenteProfile {
  padding: 30px;
  background: rgb(249, 30, 35);
  background: linear-gradient(90deg, rgba(249, 30, 35, 1) 0%, rgba(252, 80, 43, 1) 35%, rgba(255, 148, 50, 1) 100%);
  justify-content: space-between;
  text-align: left;
  display: flex;
  align-items: center;

}

.atendenteProfile h2,
.atendenteProfile p,
.clienteProfile h2,
.clienteProfile p {
  color: white;
  text-align: start;
  font-weight: 100;
}

.clienteProfile h2,
.atendenteProfile h2 {
  font-weight: 600;
}

.divComumAtendimento h3 {
  color: white;
  font-weight: 400;
}

.mainForm {
  position: relative;
  justify-content: space-around;
}

.painelHistorico {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #723F85;
  padding: 10px 25px;
}

.clienteProfile {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
}

.atendimentoFormDiv {
  margin-top: 20px;
}

main {
  /* margin: 15px 0; */
  padding: 10px 25px;
  height: 65vh;
  max-width: calc(90vw) !important;

  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: #E1E0E0;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  /* background: #1e1e24; */
}

main::-webkit-scrollbar-thumb {
  /* background: #6649b8; */
}

.apoioChatMsg {
  width: 100%;
  height: 5vh;
  background-color: #E1E0E0;
  padding-bottom: 25px;
}

.form {
  height: 100%;
  position: sticky;
  width: 90%;
  margin-left: 20px;
  max-width: 911px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;

}

.form button {
  width: 30%;
  /* background-color: rgb(56, 56, 143); */
}


.form input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 20px 20px;
}

.form button {
  background-color: #723F85;
  border: none;
  color: white;
  /* padding: 31px 15px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 10px;
  margin-left: 60px;
}

.form button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

ul,
li {
  text-align: left;
  list-style: none;
}

main p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  color: white;
  text-align: left;
}

.message {
  display: flex;
  /* align-items: center; */
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}

.received p {
  background: #F5F5F5;
  color: black;
}

main img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 2px 5px;
}

.atendimentoForm {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.atendimentoForm input {
  line-height: 1.5;
  font-size: 1.5rem;
  outline: none;
  border: none;
  padding: 0 20px;
}

.atendimentoForm button {
  background: rgb(249, 30, 35);
  background: linear-gradient(90deg, rgba(249, 30, 35, 1) 0%, rgba(252, 80, 43, 1) 35%, rgba(255, 148, 50, 1) 100%);
  padding: 10px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 5px;
  margin-left: 15px;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #22a6b3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-left: 25px;
  margin-top: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.buttons {
  align-content: flex-end;
}

.finalizada {
  color: white;
}

.buttonBack {
  padding: 15px;
  width: 390px;
  border-radius: 3px;
  margin-bottom: 5px;
  font-family: 'Dosis', sans-serif;
  font-weight: 100;
  margin-top: 25px;
  font-size: 24px;
  color: white;
}

.white {
  color: white;
}

.wait {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 700px;
  flex-direction: column;

}

.historicoItem {
  padding: 10px;
  width: 390px;
  margin: 15px auto;
  background: #723F85;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  color: white;
  display: flex;
  align-items: center;
  text-align: left;
}

.historicoItem h3 {
  margin-left: 25px;
}

.historicoItem img {
  border-radius: 35px;
  width: 50px;
  height: 50px;
}

.histor {
  max-height: 290px;
  overflow-y: scroll;
}

.noAtendimentos {
  color: white;
  width: 390px;
  margin-top: 25px;
  text-align: center;
}

/* <<<<<<< HEAD

@media (max-width: 900px) {
  main{
    height: 600px;
    width: 100%;
  }
  .all {
    display: inline-grid;
    text-align: center;
    max-width: 1250px;
    margin: 0 auto;
  
    margin-bottom: 15px;
  }

  .chatDiv{
    grid-row: 1;

  }
  
  .painelHistorico{
    grid-row: 2;
    width: 100%;
    padding: 5px 10px;
  }

  .message{
    max-width: 335px;
  }

  .message p{
    font-size: 15px;
    max-width: 175px;
  }

  .atendimentoForm{
    max-width: 50px;
    width: 50px;
  }

  .form{
    max-width: 355px;
    width: 100%;

    height: 5vh;
    position: unset;

    display: flex;
    font-size: 1.5rem;
    margin: 1em 0.5em;
  }

======= */
.adminEstado h2 {
  color: white;
  font-weight: 100;
}

@media only screen and (min-width: 1001px) {

  main {
    width: calc(50vw) !important;
  }
}

@media only screen and (max-width: 1000px) {
  .all2 {
    flex-direction: column;
  }
  .columnAvalia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .historicoItem {
    max-width: calc(90vw);

  }

  .atendimentoForm input {
    max-width: calc(90vw);

  }

  .painelHistorico {
    max-width: calc(90vw) !important;
  }

  main {
    max-width: calc(90vw) !important;
  }
}

@media only screen and (max-width: 450px) {
  main {
    max-width: calc(90vw) !important;

  }

  .atendimentoForm input {
    font-size: calc(5vw);
    padding: 0 10px;
  }

  .buttonBack {
    width: calc(390px - 50vw) !important;

  }
}